body
  header.jumbotron.text-center
    h1 Показатели счетчиков воды
    nav
      ul.nav.nav-pills.justify-content-center
        li.nav-item
          a.nav-link href="#"  2016
        li.nav-item
          a.nav-link href="#"  2017
        li.nav-item
          a.nav-link href="#"  2018
        li.nav-item
          a.nav-link.disabled.active 2019
  main.container
    .row
      .col-lg-8
        table.table.table-bordered
          thead
            tr
              th rowspan="2"  Месяц
              th.title colspan="2"  Показатели воды
            tr
              th#time Холодная
              th Горячая
          tbody
            - @water_meters.each do |water_meter|
              tr
                th= water_meter.check_date
                td= water_meter.cold
                td= water_meter.hot
      aside.col-lg-4
        form
          fieldset.form-group
            legend Показатели воды
            label.mr-sm-2 for="cold"  Холодная
            input#cold.form-control name="cold" type="" /
            label.mr-sm-2 for="hot"  Горячая
            input#hot.form-control name="hot" type="" /
          .form-group
            label for="date"  Дата
            input#date.form-control name="date" type="date" /
          button.btn.btn-outline-primary Отправить